.class-autocomplete {
    position: relative;
    width: 200px;
}

input.autocomplete-input {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.2em;
    padding: 4px;
}

.autocomplete-options {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: left;
    box-shadow: 0 4px 10px #777;
    z-index: 999;
}